<!-- <header class="header">
    <div class="logo">
      <img src="assets/logo.png" alt="Ecommerce Logo"> 
      <span>Ecommerce</span>
    </div>
    
    <nav class="nav-links">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  
    <div class="search-cart-profile">
      <div class="search">
          <input type="text" placeholder="Search products">
      </div>
      <span class="icon"><img src="assets/cart.png" alt=""></span> 
      <span class="icon"><img src="assets/profile.png" alt=""></span> 
    </div>
</header> -->

<div class="header">
  <div class="logo">
    <a href="#"><img src="assets/logo.png" alt=""></a>
  </div>
  <ul>
    <li>
      <a routerLink="main-content">Home</a>
    </li>
    <li>
      <a routerLink="categories">Categories</a>
    </li>
    <li>
      <a href="">About</a>
    </li>
    <li>
      <a href="">Contact</a>
    </li>
  </ul>
  <div class="header-right">
    <div class="search">
      <input
        class="header_search"
        type="text"
        placeholder="Search products"
      />
    </div>
    <div class="headerIcons">
      <a href=""><img src="assets/cart.png" alt=""></a>
      <a routerLink="login"><img src="assets/profile.png" alt=""></a>
    </div>
  </div>
</div>