/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.search-cart-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-cart-profile input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}
   */

.header {
  width: 1440px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.header .logo {
  cursor: pointer;
  /* display: flex; */
}

.header ul {
  display: flex;
  column-gap: 32px;
}

.header ul li a {
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.header .search {
  height: 45px;
  width: 264px;
  border: 1px solid #e6e7e8;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.header .search .header_search {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 10px;
}

.headerIcons {
  cursor: pointer;
  display: flex;
  column-gap: 32px;
}

  