<div class="footer">
    <div class="footer-top">
      <div class="left">
        <img src="assets/Footer.png" alt="" />
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, dignissimos.</p>
        <div class="icons">
          <a href="https://github.com/"><img src="assets/Github.png" alt="" /></a>
          <a href="https://www.instagram.com/"><img src="assets/Instagram.png" alt="" /></a>
          <a href="https://www.youtube.com/"><img src="assets/Youtube.png" alt="" /></a>
        </div>
      </div>
      <div class="mid">
        <div class="support">
          <h3>SUPPORT</h3>
          <p>FAQ</p>
          <p>Terms of use</p>
          <p>Privacy Policy</p>
        </div>
        <div class="company">
          <h3>COMPANY</h3>
          <p>About Us</p>
          <p>Contact</p>
          <p>Careers</p>
        </div>
        <div class="shop">
          <h3>SHOP</h3>
          <p>My Account</p>
          <p>Chechkout</p>
          <p>Cart</p>
        </div>
      </div>
      <div class="right">
        <h3>ACCEPTED PAYMENTS</h3>
        <div class="payments">
          <img src="assets/Mastercard.png" alt="" />
          <img src="assets/Amex.png" alt="" />
          <img src="assets/Visa.png" alt="" />
        </div>
      </div>
    </div>
    <div class="footer-bot">
      <hr/>
      <p>2024 All rights reserved.</p>
    </div>
</div>