<div class="fashion">
    <div class="fashion_inside">
      <div class="fashion_details">
        <h2>Browse Our Fashion Paradise</h2>
        <p>Step into a world of style and explore our diverse collection of clothing categories.</p>
        <div class="fashion_button">
          <button>
            Start Browsing
            <img src="assets/ArrowRight.png" alt="">
          </button>
        </div>
      </div>
      <div class="fashion_img">
        <img src="assets/veshalka.png" alt="fashion" />
      </div>
    </div>
</div>