<div class="featureContainer">
    <div class="featureContainerHeader">
        <span>Featured</span>
        <span>Latest</span>
    </div>
    <div class="featureItems">
        <div class="feature_card" *ngFor="let item of items;" >
            <ng-container *ngIf="item.id > 4 && item.id <= 8">
                <div class="feature_img">
                    <a [routerLink]="['/products', item.id]"><img src={{item.image}} alt={{item.name}} /></a>
                </div>
                <h3 class="feature_card_title">{{item.name}}</h3>
                <div class="feature_card_details">
                    <p class="feature_card_stock" *ngIf="item.inStock; else outOfStock">In Stock</p>
                    <ng-template #outOfStock>
                        <p class="feature_card_stock">Out of Stock</p>
                    </ng-template>
                    <p class="feature_cart_price">${{item.price}}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>
