.feature {
    width: 1440px;
    margin: auto;
    margin-top: 72px;
}

.featureContainerHeader{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
.featureContainerHeader span {
  text-align: center;
  color: #878a92;
  font-size: 0.875rem;
  font-weight: 500;
}

.featureContainerHeader span:first-child {
    text-align: center;
    font-weight: 500;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.featureItems {
  margin-top: 70px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, minmax(264px, 1fr));
  column-gap: 28px;
}
  
.feature_card .feature_img {
    cursor: pointer;
    width: 100%;
    height: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.feature_card .feature_img img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.feature_card_title {
  margin-top: 25px;
}

.feature_card_details {
  display: flex;
  align-items: center;
  margin-top: 12px;
  column-gap: 16px;
}

.feature_card_stock {
  padding: 5px 16px 5px 16px;
  border-radius: 100px;
  border: 1px solid #e6e7e8;
  font-weight: 500;
  font-size: 1.05rem;
}

.feature_cart_price {
  color: #474b57;
}
